<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vromia.e_nurseproject" >

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/enurse"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Activities.SplashScreen"
            android:label="@string/app_name" >
            android:name=".SplashScreen"
            android:theme="@android:style/Theme.Holo.Dialog.NoActionBar>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Activities.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.DietActivity" />
        <activity android:name=".Activities.HistoryActivity" />
        <activity android:name=".Activities.LoginActivity" />
        <activity android:name=".Activities.UserDetailsActivity" />
        <activity android:name=".Activities.WorkoutActivity" />
        <activity android:name=".Activities.SettingsActivity" />
        <activity android:name=".Activities.HomeActivity"/>
        <activity android:name=".Activities.DrugsActivity"/>
        <activity android:name=".Activities.DrugsHistoryActivity"/><!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <service android:name=".Utils.NotificationManagerService" >
        </service>

        <receiver android:name=".Utils.NotificationReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </receiver>
        <receiver android:name=".Utils.StartServiceReceiver" >
        </receiver>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <!--<activity-->
            <!--android:name=".Activities.LoginActivity"-->
            <!--android:label="@string/title_activity_login" >-->
        <!--</activity>-->
    </application>

</manifest>
